.subscribe {
    background-color: rgb(201, 0, 0);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.1s;
}

.subscribe:hover {
    background-color: rgb(181, 0, 0);
}

.subscribe:active {
    background-color: rgb(148, 0, 0);
}

.join {
    background-color: white;
    border-color: rgb(61, 158, 255);
    border-style: solid;
    border-width: 1.5px;
    color: rgb(61, 158, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.join:hover {
    opacity: 0.8;
}

.join:active {
    opacity: 0.4;
}

.tweet {
    background-color: rgb(61, 158, 255);
    color: white;
    border: none;
    height:36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.tweet:hover {
    background-color: rgb(49, 133, 217);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.tweet:active {
    opacity: 0.8;
}